/* Makes background color consistent for all pages*/
html {
    min-height: 100%;
}

/* Background color for all pages */
body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(16, 42, 67, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(16, 42, 67, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(16, 42, 67, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#102a43", GradientType=1);
}

/* Main page */
.header-center {
    text-align: center;
    margin-bottom: 3%;
}

#hero-image {
    opacity: 0.85;
    max-width: 80%;
    height: auto;
}

.logo-size {
    width: 20%;
}

.feature-remove-padding {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.feature-uniform-padding {
    padding: 10%;
}

/* Home page */
#home-view {
    background: #102a43;
}

#calendar {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#calendar table a {
    color: rgb(197, 197, 1);
}

/* Welcome message & login */
.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* Centers the circle horizontally */
}

/* Login page */
#login-container {
    padding: 5%;
}

a {
    text-decoration: none;
}