body {
    background-color: rgb(30, 30, 66);
}

/* Welcome message & login */
.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* Centers the circle horizontally */
}

/* Footer */
footer {
    width: 100%;
    border-top: 2px solid lightgray;
    padding: 2%;
}

/* Navbar */
#navLogo {
    height: 30px;

}